.todo {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 3px 2px #aaaaaa; 
    box-shadow: 1px 1px 3px 2px #aaaaaa;
    background: #ffffff;
    font-family: 'Lato';
}

.check, .un-check {
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
}

.check-active, .check:hover, .check:focus, .check:active{
    color: #0be007;
}

.un-check-active, .un-check:hover, .un-check:focus {
    color: #e0212e;
}

.task {
    margin: 0;
}