.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.add-todo__section {
  width: 30vw;
  height: auto;
  padding: 10px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px 2px #aaaaaa; 
  box-shadow: 1px 1px 3px 2px #aaaaaa;
  background-color: #ffffff;
}

.list__section {
  width: 30vw;
  height: auto;
}